<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cli-templates-section" type="cli.dispatcher.configuration.CliTemplateConfigurationSection, eac.cli.dispatcher" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <cli-templates-section>
    <cli-templates>
      <cli-template
        executable="C:\Program Files (x86)\FLAC\flac.exe"
        parameters="-5 -T &quot;ALBUM=%albumtitle%&quot; -T &quot;ALBUMARTIST=%albumartist%&quot; -T &quot;DATE=%year%&quot; -T &quot;GENRE=%genre%&quot; -T &quot;COMMENT=%comment%&quot; -T &quot;DISCTOTAL=%totalcds%&quot; -T &quot;DISCNUMBER=%cdnumber%&quot; -T &quot;TRACKTOTAL=%numtracks%&quot; -T &quot;TRACKNUMBER=%tracknr%&quot; -T &quot;TITLE=%title%&quot; -T &quot;ARTIST=%artist%&quot; -T &quot;COMPOSER=%composer%&quot; %haslyrics%--tag-from-file=LYRICS=&quot;%lyricsfile%&quot;%haslyrics% %hascover%--picture=&quot;%coverfile%&quot;%hascover% %source% -o %dest%" />
      <cli-template
        executable="C:\Program Files (x86)\lame\lame.exe"
        parameters="-V 2 --add-id3v2 --pad-id3v2 --tl &quot;%albumtitle%&quot; --tv &quot;TPE2=%albumartist%&quot; --ty &quot;%year%&quot; --tg &quot;%genre%&quot; --tc &quot;%comment%&quot; --tv &quot;TPOS=%cdnumber%/%totalcds%&quot; --tn &quot;%tracknr%/%numtracks%&quot; --tt &quot;%title%&quot; --ta &quot;%artist%&quot; --tv &quot;TCOM=%composer%&quot; %hascover%--ti &quot;%coverfile%&quot;%hascover% %source% %dest%" />
    </cli-templates>
  </cli-templates-section>
</configuration>