<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <cli-templates>
    <cli-template>
      <executable>C:\Program Files (x86)\FLAC\flac.exe</executable>
      <parameters>-5 -T "ALBUM=%albumtitle%" -T "ALBUMARTIST=%albumartist%" -T "DATE=%year%" -T "GENRE=%genre%" -T "COMMENT=%comment%" -T "DISCTOTAL=%totalcds%" -T "DISCNUMBER=%cdnumber%" -T "TRACKTOTAL=%numtracks%" -T "TRACKNUMBER=%tracknr%" -T "TITLE=%title%" -T "ARTIST=%artist%" -T "COMPOSER=%composer%" %haslyrics%--tag-from-file=LYRICS="%lyricsfile%"%haslyrics% %hascover%--picture="%coverfile%"%hascover% %source% -o %dest%</parameters>
    </cli-template>
    <cli-template>
      <executable>C:\Program Files (x86)\lame\lame.exe</executable>
      <parameters>-V 2 --add-id3v2 --pad-id3v2 --tl "%albumtitle%" --tv "TPE2=%albumartist%" --ty "%year%" --tg "%genre%" --tc "%comment%" --tv "TPOS=%cdnumber%/%totalcds%" --tn "%tracknr%/%numtracks%" --tt "%title%" --ta "%artist%" --tv "TCOM=%composer%" %hascover%--ti "%coverfile%"%hascover% %source% %dest%</parameters>
    </cli-template>
  </cli-templates>
</configuration>